 .bar{
    fill: #1EB4E2;
  }


  .bar:hover{
    fill: #7DD9F5;
  }

	.axis {
        font:5px;
    font-family: 'Roboto';

	}

	.axis path,
	.axis line {
	  fill: none;
	  stroke: #000;
	  shape-rendering: crispEdges;
	}

#header { 
    font-family: 'Vollkorn';
    font-weight: 600;
    color: #454545;
    font-size: 72px; 
    margin-right: auto; 
    margin-left: auto; 
    text-align: center; 
}

.authors{ 
    margin-right: auto; 
    margin-left: auto; 
    text-align: center; 
    font-family: 'Montserrat';
    font-weight: 500; 
    font-family: 14px; 
    color: #252525; 
}

.byline{ 
    margin-right: auto; 
    margin-left: auto; 
    text-align: center; 
    width: 50%; 
    font-family: 'Roboto';
    font-size: 14px; 
    color: #505050; 
    line-height: 20px; 
}

.content-para{ 
    margin-right: auto; 
    margin-left: auto; 
    text-align: left; 
    width: 60%; 
    font-family: 'Patua+One'; 
    font-size: 18px; 
    color: #505050; 
    line-height: 25px; 
}


.links { 
    text-decoration: none; 
    color: #252525; 
}

.links:hover{ 
    color: #1EB4E2; 
}

.section-header{ 
    font-family: 'Vollkorn';
    font-weight: 400;
    margin-right: auto; 
    margin-left: auto; 
    text-align: center; 
     color: #252525;
}

#change-buttons button { 
    font-family: 'Roboto'; 
    font-size: 14px; 
}

#change-buttons button:focus{ 
    background-color: #DCDCDC;
    outline: 0; 
}

#change-buttons { 
    width: 29%;
    margin: auto; 
}

.hoverEl { 
    background-color: green important!; 
    color: white; 
    font-family: 'Roboto';
}

#scatter-buttons button { 
    font-family: 'Roboto'; 
    font-size: 12px; 
}

#scatter-buttons button:focus{ 
    background-color: #DCDCDC; 
    outline: 0; 
}

/* SCROLL */ 
	/* default / demo page */
		* {
			box-sizing: border-box;
		}
		#intro {
			max-width: 40rem;
			margin: 1rem auto;
			text-align: center;
		}
		.intro__overline {
			font-size: 1.4rem;
		}
		.intro__hed {
			font-size: 1.4rem;
			margin: 1.5rem auto;
			text-transform: uppercase;
			font-weight: 900;
			letter-spacing: 0.05em;
		}
		.intro__dek {
			font-size: 1.4rem;
		}
		/* demo */
		#intro {
			margin-bottom: 320px; 
		}
		#outro {
			height: 640px
		}
		/* scrollama */
		#scroll {
			position: relative;
			border-top: 1px dashed #000;
			border-bottom: 1px dashed #000;
		}
		.scroll__graphic {
			position: absolute;
			top: 0;
			left: 0;
			bottom: auto;
			background-color: #fff;
			-webkit-transform: translate3d(0, 0, 0);
			-moz-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);
		}
		.scroll__graphic.is-fixed {
			position: fixed;
		}
		.scroll__graphic.is-bottom {
			bottom: 0;
			top: auto;
		}
		.chart {
			position: absolute;
			right: 1rem;
			top: 50%;
			-moz-transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
			background-color: #ddd;
			border: 1px solid #000;
		}
		.chart p {
			text-align: center;
			padding: 1rem;
			position: absolute;
			top: 50%;
			left: 50%;
			-moz-transform: translate(-50%, -50%);
			-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			font-size: 8rem;
			font-weight: 900;
			color: #666;
		}
		.scroll__text {
			position: relative;
			padding: 0 1rem;
			max-width: 30rem;
			width: 60%;
		}
		.step { 
            margin-right: auto; 
            margin-left: auto; 
			margin: 2rem auto ;
			/*border: 1px solid #333;*/
		}
		.step.is-active {
			/*background-color: red;*/ 
		}

.path2 {
  stroke-dasharray: 250;
  animation: drawHorizontal 1s linear alternate;
  opacity: 1;
}

@keyframes drawHorizontal {
  to {
    stroke-dashoffset: 0;
  }
  from {
    stroke-dashoffset: 250;
  }
}

.path3 {
  stroke-dasharray: 250;
  animation: drawVertical 1s linear alternate;
  opacity: 1;
}

@keyframes drawVertical {
  to {
    stroke-dashoffset: 0;
  }
  from {
    stroke-dashoffset: -250;
  }
}

@keyframes fadeIn { from { opacity:0; } to { opacity:0.6; } }

.fade-in {
	opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
	-webkit-animation-duration:2s;
	-moz-animation-duration:2s;
	animation-duration:2s;
}

#tool-tip-scatter {
	position: absolute;
}

.main-chart {
	margin-left: 60px;
}

.data-3 { 
    border-radius: 10px; 
}

.x-axis-title{ 
    font-size: 12px; 
    font-family: 'Roboto';
    margin-top: 10px; 
    display: block; 
    margin: auto; 
    text-align: center; 
}

.y-axis-title { 
    font-size: 12px; 
    font-family; 'Roboto';
    transform: rotate(90deg);
    position: relative;
    left: -150px;
/*    top: 180px;*/
}

.svg-canvas{ 
    margin: 0 auto; 
    display: block; 
}

.fade-me-in{ 
	opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
}

.educational-text{ 
    width: 300px; 
    background-color: red; 
    display: block; 
    height: 100px; 
    text-align: center;
    margin: auto 0;
}

.wrapper{ 
    width: 800px; 
    background-color: yellow;
    display:flex;
}
.wrapper div {
    flex-basis: 100%;
}